@font-face {
    font-family: "Monocraft";
    src: url('/fonts/Monocraft.ttf') format('truetype'),
         url('/fonts/Monocraft.otf') format('opentype');
}

:root{
    --cor-primaria: #201E1F;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #B48A7A;
    --cor-hover: #B48A7A;

    --fonte-primaria: "Poppins", sans-serif;
    --fonte-secundaria: "Monocraft", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
    text-decoration: none;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu .active{
    color: var(--cor-secundaria);
}

/* header */

.cabecalho{
    padding: 2% 0% 2% 15%;
    background-color: var(--cor-primaria);
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.cabecalho__menu__links:hover{
    color: var(--cor-hover);
    opacity: 0.9;
}

/* fim header */

/* main */

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo>h1{
    align-self: center;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-secundaria);
    font-size: 1.75rem;
}

.titulo-destaque{
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
}

.titulo-destaque__span{
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.25rem;
    list-style-type: none;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    opacity: 0.9;
}

.apresentacao__imagem {
    width: 35%;
    border-radius: 16px;
    position: sticky;
    top: 15%;
    align-self: flex-start;
}

.rodape{
    width: 100%;
    padding: 24px;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-size: 1rem;
    font-weight: 400;
}

/*CURRICULO*/

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul>li>a:hover{
    color: var(--cor-hover);
    opacity: 0.9;
}

/* PROJETOS */

.apresentacao-projetos{
   flex-direction: column;
   gap: 20px;
   padding: 5%;
}

.apresentacao-projetos__conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.projetos__conteudo__box{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: solid 2px;
    padding: 1rem;
    gap: 20px;
    border-radius: 10px;
}

.box-title{
    font-family: Monocraft, sans-serif;
}

.box-image>img{
    width: 100%;
    height: 200px;
}

.box-buttons{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.box-buttons a:last-child{
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    width: 70px;
    padding: 5px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
}

.box-buttons>a:hover{
    opacity: 0.8;
}

@media (max-width: 968px) {

    *{
        font-size: .9em;
    }

    .cabecalho{
        padding: 1rem;
        position: inherit;
        align-self:inherit;
    }

    .cabecalho__menu{
        justify-content: center;
        gap: 30px;
    }

    .cabecalho__menu>a{
        font-size: .9rem;
    }
    
    .apresentacao{
        padding: 10%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__imagem {
        position: inherit;
        align-self:inherit;
    }

    .apresentacao-projetos__conteudo{
        grid-template-columns: 1fr;
        font-size: 2rem;
    }

    .box-buttons a:last-child{
        width: 100px;
    }
}